{% extends "base.html.twig" %}

{% block title %}
	Payement
{% endblock %}

{% block body %}

	<div class="container">

		<h1 class="h1">Bienvenue au paiement</h1>

		<div class="alert alert-secondary p-4">
			<p>Vous vous situez dans la page spécifique au paiement.</p>
			<p>Le moyen de paiement accepté est la carte bancaire.</p>
			<p>Nous procédons les paiements avec Stripe rendant le service sécurisé.</p>
		</div>
		{# <pre>
				  {{ dump(bookings) }}
				</pre> #}

		<div class="my-5">
			{{ form_start(form, {attr: {id: form.vars.id}}) }}
			<div class="form-group">
				<label for="card-element">
					Carte de paiement
				</label>
				<div id="card-element" class="form-control my-3"></div>
				<div id="card-errors" class="help-block" role="alert"></div>
			</div>
			<p>Vous devez :
				<strong>{{total}}
				&euro;</strong>
        </p>

			{{ form_widget(form.token) }}

			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script>

		var form = document.getElementById('payment-form');
var errors = document.getElementById('card-errors');

var stripe = Stripe('pk_test_wDe7aHvSpKV2foTkeKrlolCk00DfceJrXs');
var elements = stripe.elements();

// Custom styling can be passed to options when creating an Element.
var style = {
base: { // Add your base input styles here. For example:
fontSize: '16px',
color: '#32325d'
}
};

// Create an instance of the card Element.
var card = elements.create('card', {style: style});

// Add an instance of the card Element into the `card-element` <div>.
card.mount('#card-element');

// Create a token or display an error when the form is submitted.
var form = document.getElementById('payment-form');
form.addEventListener('submit', function (event) {
event.preventDefault();


stripe.createToken(card).then(function (result) {
if (result.error) { // Inform the customer that there was an error.
var errorElement = document.getElementById('card-errors');
errorElement.textContent = result.error.message;
} else { // Send the token to your server.
stripeTokenHandler(result.token);
form.submit();
console.log("Form is valid");

}
});
});

function stripeTokenHandler(token) { // Insert the token ID into the form so it gets submitted to the server

var form = document.getElementById('payment-form');
var hiddenInput = document.createElement('input');
hiddenInput.setAttribute('type', 'hidden');
hiddenInput.setAttribute('name', 'stripeToken');
hiddenInput.setAttribute('value', token.id);
form.appendChild(hiddenInput);

// // Submit the form
form.submit();
}
	</script>


{% endblock %}
