{% extends "base.html.twig" %}

{% block title %}Modification de réservation pour l'annonce:
	{{ booking.title }}
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha256-siyOpF/pBWUPgIcQi17TLBkjvNgNQArcmwJB8YvkAgg=" crossorigin="anonymous"/>
{% endblock %}
{% block body %}
	<div class="container">
		<h1 class="my-5">Modifier la réservation n°{{ booking.id }}</h1>

		{{ form_start(form) }}

		<div class="row">
			<div class="col">
				{{ form_row(form.startDate) }}
				{{ form_row(form.endDate) }}
				{{ form_row(form.comment) }}

				<button type="submit" class="btn btn-success">
					<i class="fas fa-check"></i>
					Enregistrer les modifications
				</button>

			</div>
		</div>
		{{ form(form) }}
		</div>

	{% endblock %}