{% extends 'admin/base.html.twig' %}

{% block title %}Tableau de bord
{% endblock %}

{% block body %}

	<div id="dashboard" class="container-fluid">
		<div class="row">
			<div class="col">
				<div class="card bg-primary text-white mb-3 text-center">
					<div class="card-body">
						<div class="row">
							<div class="col-4">
								<i class="fas fa-users"></i>
							</div>
							<div class="col-8 d-flex justify-content-center align-items-center">
								<h4 class="card-title">{{ stats.users }}
									utilisateurs</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card bg-dark text-white text-center mb-3">
					<div class="card-body">
						<div class="row">
							<div class="col-4">
								<i class="fas fa-hotel"></i>
							</div>
							<div class="col-8 d-flex justify-content-center align-items-center">
								<h4 class="card-title">{{ stats.ads }}
									annonces</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card bg-warning text-white text-center mb-3">
					<div class="card-body">
						<div class="row">
							<div class="col-4">
								<i class="fas fa-folder"></i>
							</div>
							<div class="col-8 d-flex justify-content-center align-items-center">
								<h4 class="card-title">{{ stats.bookings }}
									réservations</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="card bg-success text-white text-center mb-3">
					<div class="card-body">
						<div class="row">
							<div class="col-4">
								<i class="fas fa-comments"></i>
							</div>
							<div class="col-8 d-flex justify-content-center align-items-center">
								<h4 class="card-title">{{ stats.comments }}
									avis</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-12 col-md-6">
				<div class="alert alert-success">
					<h2 class="alert-heading my-3 text-center">
						<i class="fas fa-arrow-up"></i>
						Les annonces populaires
					</h2>

					<table class="table table-hover">
						<thead>
							<tr>
								<th>Annonce</th>
								<th>Proprio</th>
								<th>Moyenne</th>
							</tr>
						</thead>

						<tbody>
							{% for ad in bestAds %}
								<tr>
									<td>{{ ad.title }}</td>
									<td>
										{{ ad.firstName }}
										{{ ad.lastName | upper}}
										<img src="{{ ad.picture }}" alt="photo de l'annonce {{ ad.title }}" class="avatar avatar-dashboard">
									</td>
									<td class="text-center">
										<span class="badge badge-dark">{{ ad.note | number_format(1, ',', '') }}</span>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-12 col-md-6">
				<div class="alert alert-danger">
					<h2 class="alert-heading my-3 text-center">
						<i class="fas fa-arrow-down"></i>
						Les pires annonces
					</h2>

					<table class="table table-hover">
						<thead>
							<tr>
								<th>Annonce</th>
								<th>Proprio</th>
								<th>Moyenne</th>
							</tr>
						</thead>

						<tbody>
							{% for ad in worstAds %}
								<tr>
									<td>{{ ad.title }}</td>
									<td>
										{{ ad.firstName }}
										{{ ad.lastName | upper }}
										<img src="{{ ad.picture }}" alt="photo de l'annonce {{ ad.title }}" class="avatar avatar-dashboard">
									</td>
									<td class="text-center">
										<span class="badge badge-dark">{{ ad.note | number_format(1, ',', '') }}</span>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
