{% set url = path('ads_show', {'slug' : ad.slug}) %}
<div class="col-md-4 target my-3">
	<div class="card bg-light mb-3">
		<div class="card-header">
			<strong>{{ ad.city }}</strong><br>
			{{ ad.rooms }}
			chambres,
			<strong>{{ ad.price  | number_format(2,',','')}}
				&euro; / nuit</strong><br>
			{% if ad.comments | length > 0 %}
				{% include "partials/rating.html.twig" with {'rating' : ad.avgRating} %}
			{% else %}
				<small>Pas encore noté</small>
			{% endif %}
		</div>
		<a href="{{ url }}">
			<img src="{{ vich_uploader_asset(ad, 'imageFile') }}" alt="Image de l'annonce {{ ad.slug }}" style="height: 200px; width: 100%; display: block;">


		</a>
		<div class="card-body">
			<h4 class="card-title">
				{{ ad.title }}
			</h4>
			<p class="card-text mt-3 mb-4">
				{{ ad.introduction }}
			</p>
			<div class="test d-flex justify-content-between align-items-center">
				<a href="{{ url }}" class="more float-left hvr-icon-pulse-grow">En savoir
					<i class="fas fa-plus-circle hvr-icon"></i>
				</a>

				{% if app.user and app.user != ad.author  %}

					<a href="{{ path('booking_create', {'slug' : ad.slug, 'id': ad.id}) }}" class="reserver hvr-icon-buzz">Je réserve 
					<i class="hvr-icon fas fa-exclamation-circle"></i></a>

				{% endif %}
				{% if  app.user and app.user == ad.author %}

					<a href="{{ path('ads_edit', {'slug' : ad.slug }) }}" class="modifier hvr-icon-spin float-right">Modifier l'annonce
					<i class="hvr-icon fas fa-cog"></i>
					</a>

					{% else %}

				{% endif %}
			</div>
		</div>
	</div>
</div>

<script>
	document.addEventListener("DOMContentLoaded", function () { // animation d'apparition sur les card des annonces
ScrollReveal().reveal('.target', {delay: 250});
});
</script>
