{% extends "base.html.twig" %}

{% block title %}Réservation n°{{ booking.id }}
{% endblock %}

{% block header %}{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('css/app') }}
{% endblock %}

{% block body %}
	{% set author = ad.author %}

	<div
		id="pdf">
		<!-- Début pdf -->


		<h1 id="title">Votre réservation (n°{{ booking.id }})</h1>

		<div
			id="content-pdf">
			<!-- Début content pdf -->

			<div
				id="reservation">
				<!-- Début détails réservations -->
				<h2 class="little-title">Détails</h2>
				<ul>
					<li>Réservation au nombre de
						{{ booking.duration }}
						nuits à
						{{ad.city}}
						pour un montant de
						{{ booking.amount | number_format(2,',','')}}
						&euro;</li>
					<li>Date d'arrivée :
						{{ booking.startDate | date('d/m/Y') }}</li>
					<li>Date de départ :
						{{ booking.endDate | date('d/m/Y') }}</li>
				</ul>
				<!-- Fin détails réservations -->

				<hr>

				<div
					id="hote">
					<!-- Début hote -->

					<h2 class="little-title">Votre hôte</h2>
					<div
						class="hote-content">
						<!-- Début hote-content -->
						<h4>
							{{ author.fullName }}
						</h4>
						<div>
							<img src="{{ author.picture }}" class="avatar" alt="L'avatar de {{ author.fullName }}">
						</div>
						<span class="annonce">{{ author.ads | length }}
							annonces</span>
					</div>
					<!-- fin hote-content -->

				</div>
				<!-- Fin hote -->

				<hr>

				<div
					id="hebergement">
					<!-- Début hébergement -->
					<h2 class="little-title">Votre hébergement</h2>

					<h4 class="hebergement-title">
						{{ ad.title }}
					</h4>

					<div class="hebergement-content">
						<!-- Début hébergement-content -->
						{# <img src="filenamee" alt="Image de {{ ad.title }}" class="img-hebergement"> #}

							<div class="espacement"> {{ ad.content | raw }}
						</div>
					</div>
					<!-- Fin hébergement-content -->


				</div>
				<!-- Fin hébergement -->

			</div>
			<!-- Fin content-pdf -->
		</div>
		<!-- Fin pdf -->

	{% endblock %}

	{% block footer %}{% endblock %}
